<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (prods.length > 0) { %>
     <div class="grid"> 
        <% for (let products of prods ) { %>
        <article class="card product_item">                    
            <header class= "card_header">
                <h1 class="product_title"> <%= products.title%></h1> 
            </header>    
            <div class="card_image">
                <img src="<%=products.imageUrl %>" alt="A Book">      
            </div>
            <div class="card_content">                        
                <h2 class="product_price">$<%= products.price%></h2> 
                <p class ="product_description"> <%= products.description%></p>
            </div>    
            <div class="card_action">
                <a href="/admin/edit-product/<%=products._id%>?edit=true" class="btn">Edit</a>
                <form action="/admin/delete-product"  method="POST">
                    <input type="hidden" value="<%=products._id%>" name="productId">
                    <button class ="btn" type="submit">Delete</button>
                </form>
                
            </div>
         </article>
         <% } %>
     <% } else { %>
    </div>                   
 
        <h1>No Products</h1>    
     <%  } %>
</main>  

<%-include('../includes/end.ejs') %>