<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (prods.length > 0) { %>
     <div class="grid"> 
        <% for (let product of prods ) { %>
        <article class="card product_item">                    
            <header class= "card_header">
                <h1 class="product_title"> <%= product.tittle %></h1> 
            </header>    
            <div class="card_image">
                <img src="<%=product.imageUrl %>" alt="A Book">      
            </div>
            <div class="card_content">                        
                <h2 class="product_price">$<%= product.price %></h2> 
                <p class ="product_description"> <%= product.description %></p>
            </div>    
            <div class="card_action">
                <a href ="/products/<%= product._id %>" class="btn">Details</a>
                <%- include('../includes/add-to-cart.ejs',{product: product}); %>
            </div>
         </article>
         <% } %>
     <% } else { %>
    </div>                   
 
        <h1>No Products</h1>    
     <%  } %>
</main>  

<%-include('../includes/end.ejs') %>